
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: ;
  background-color: #b9cfc4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body { 
  height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  text-align: center;
  padding-top: 1%;
}

.navCart{
  margin-left:  30px;
}

.enlace {
  width: 110px;
  text-align: center;
}