
*{
  margin: 0;
  padding: 0;
  color: rgb(46, 44, 44);
  
  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: rgba(236,230,210,255);
}

body{
  background-color: rgba(236,230,210,255)!important;
  height: 100vh;
  position: relative;
  padding-bottom: 160px;
}

a{
  text-decoration: none!important;
  color: rgb(46, 44, 44)!important;
  padding-top: 8px;
}
