@media (min-width: 320px) {
    .detailArticle{
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        align-items: center;
        text-align: start;
        width: 80%;
        margin: auto;
        padding: 10px;
        border-radius: 6%;
        margin-bottom: 20px;
        gap: 8px;
        border: 2px solid goldenrod;
    }

    .detailImgContainer{
        width: 90%;
    }
    
    .detailImg{
    
        border-radius: 10%;
        width: 100%;
        max-height: 450px;
        box-sizing: border-box;
    
    }
    
    .detailText{
        width: 100%;
        font-weight: 600;
        padding-top: 15px;
        padding-left: 15px;
    }
    
     .textLeft{
        text-align: center;
    }
    
     .detailSection{
        padding: 0;
        margin: auto;
    }
    
    
    .renderCondicional {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .borde {
        border: 2px solid!important;
    }

}

@media (min-width: 970px) {
.detailArticle{
    flex-direction: row;
    justify-content: flex-start;
    max-width: 45%;
    padding: 20px 0 20px 20px;
    gap: 20px;
}

.detailImgContainer{
    width: 45%;
}

.detailText{
    width: 45%;
}

.textLeft{
    text-align: start;
}

.detailSection{

    padding: 20px 0;
    margin: auto;
 }


.renderCondicional {
    display: flex;
    flex-direction: column;
}

}